body {
  margin: 0 auto;
  width: 100%; }

.section-header {
  background-image: url("img/newbackground-header.png");
  padding-bottom: 950px;
  position: relative; }
  .section-header .layer {
    background-color: rgba(41, 50, 60, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 300px; }
  .section-header .top-header .logo img {
    padding-top: 32px;
    cursor: pointer; }
  .section-header .top-header .menu ul {
    padding-top: 42px;
    text-align: center; }
    .section-header .top-header .menu ul li {
      display: inline-block;
      padding-right: 10px; }
      .section-header .top-header .menu ul li a {
        color: #fff;
        font-size: 16px;
        font-family: 'Montserrat';
        text-decoration: none;
        padding: 5px; }
        .section-header .top-header .menu ul li a:hover {
          color: black;
          background-color: #fff;
          font-weight: 500;
          transition: .5s; }
  .section-header .top-header .main-header {
    text-align: center; }
    .section-header .top-header .main-header h3 {
      color: #e8e8e8;
      font-family: 'Montserrat';
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1.8px;
      padding-top: 260px; }
    .section-header .top-header .main-header p {
      color: #e8e8e8;
      font-family: "Open Sans";
      font-size: 17px;
      font-weight: 300;
      line-height: 25px;
      letter-spacing: -0.42px;
      padding-top: 22px;
      padding-bottom: 40px; }
    .section-header .top-header .main-header button {
      color: #e8e8e8;
      font-family: 'Montserrat';
      font-size: 13px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 0.33px;
      border: 1px solid #f2f2f2;
      border-radius: 40px;
      display: inline;
      padding: 5px 35px;
      background: none; }
      .section-header .top-header .main-header button:hover {
        color: black;
        background-color: #fff;
        transition: .5s; }
    .section-header .top-header .main-header img {
      padding-top: 232px; }

.section-services {
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 101px; }
  .section-services .services-header h3 {
    color: #29323c;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.65px;
    padding-top: 59px; }
  .section-services .services-header p {
    opacity: 0.8;
    color: #29323c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .section-services .services-header img {
    padding-bottom: 60px; }
  .section-services .services-content h4 {
    color: #29323c;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    padding-top: 30px; }
  .section-services .services-content p {
    opacity: 0.8;
    color: #29323c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    padding-top: 15px; }
  .section-services .services-content img {
    padding-top: 15px;
    cursor: pointer; }

.section-works {
  text-align: center;
  padding-bottom: 100px; }
  .section-works .work-header h3 {
    color: #29323c;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.65px;
    padding-top: 59px; }
  .section-works .work-header p {
    opacity: 0.8;
    color: #29323c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .section-works .work-header img {
    padding-bottom: 60px; }
  .section-works .row {
    margin-left: 0;
    margin-right: 0; }
  .section-works .work-photo img {
    width: 100%; }
    .section-works .work-photo img:hover {
      cursor: pointer;
      transition: .5s;
      opacity: 0.5; }
  .section-works .work-photo .col-lg-3 {
    padding-left: 0;
    padding-right: 0; }

.section-clients {
  text-align: center;
  padding-bottom: 150px; }
  .section-clients .clients-header h3 {
    color: #29323c;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.65px; }
  .section-clients .clients-header p {
    opacity: 0.8;
    color: #29323c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 10px; }
  .section-clients .clients-header img {
    padding-bottom: 50px; }
  .section-clients .clients-content h3 {
    color: #2b3746;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    line-height: 26px; }
  .section-clients .clients-content p {
    opacity: 0.5;
    color: #2b3746;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 15px;
    transform: rotate(10deg); }
  .section-clients .clients-content img {
    padding-top: 15px;
    cursor: pointer; }
  .section-clients .clients-content h4 {
    color: #29323c;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
    line-height: 20px; }
  .section-clients .clients-content h5 {
    opacity: 0.8;
    color: #29323c;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px; }

.section-team {
  text-align: center;
  background-image: url("img/newteam-background.png");
  position: relative;
  padding-bottom: 1000px; }
  .section-team .layer {
    background-color: rgba(41, 50, 60, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 300px; }
  .section-team .team-photo img {
    width: 100%;
    cursor: pointer; }
  .section-team .team-content .team-button button {
    color: #e8e8e8;
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    border: 1px solid #f2f2f2;
    border-radius: 40px;
    display: inline;
    padding: 5px 35px;
    background: none;
    margin-top: 100px; }
    .section-team .team-content .team-button button:hover {
      color: black;
      background-color: #fff;
      transition: .5s; }
  .section-team .team-content .team-info {
    background-color: #f2f2f2;
    opacity: 0.75; }
    .section-team .team-content .team-info p {
      color: #29323c;
      font-family: 'Montserrat';
      font-size: 15px;
      font-weight: 900;
      line-height: 20px;
      padding-top: 20px;
      margin-bottom: 0;
      padding-right: 5px;
      padding-left: 5px; }
    .section-team .team-content .team-info h5 {
      opacity: 0.8;
      color: #29323c;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      margin-top: 5px;
      margin-bottom: 25px; }
    .section-team .team-content .team-info i {
      padding-bottom: 20px;
      font-size: 20px;
      padding-right: 8px; }
  .section-team .team-header h3 {
    color: #f2f2f2;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.65px;
    padding-top: 60px; }
  .section-team .team-header p {
    opacity: 0.8;
    color: #f2f2f2;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .section-team .team-header img {
    padding-bottom: 125px; }

.section-company {
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 50px;
  padding-top: 50px; }
  .section-company img {
    padding-top: 15px;
    cursor: pointer; }
  .section-company .intel {
    margin-top: -5px; }

.section-pricing {
  text-align: center;
  padding-bottom: 200px; }
  .section-pricing .pricing-header h3 {
    color: #29323c;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 900;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.65px;
    padding-top: 90px; }
  .section-pricing .pricing-header p {
    opacity: 0.8;
    color: #29323c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 30px; }
  .section-pricing .pricing-header img {
    padding-bottom: 60px; }
  .section-pricing .pricing-content .top-pricing {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 50px; }
    .section-pricing .pricing-content .top-pricing:hover {
      background-color: #485563;
      cursor: pointer;
      transition: .6s; }
      .section-pricing .pricing-content .top-pricing:hover h4, .section-pricing .pricing-content .top-pricing:hover p, .section-pricing .pricing-content .top-pricing:hover h5 {
        color: #fff; }
    .section-pricing .pricing-content .top-pricing h4 {
      color: #485563;
      font-family: 'Montserrat';
      font-size: 20px;
      font-weight: 800;
      line-height: 36px;
      padding-bottom: 15px; }
      .section-pricing .pricing-content .top-pricing h4 span {
        font-weight: 900; }
    .section-pricing .pricing-content .top-pricing p {
      color: #485563;
      font-family: 'Montserrat';
      font-size: 45px;
      font-weight: 400;
      line-height: 9px;
      padding-bottom: 15px; }
      .section-pricing .pricing-content .top-pricing p span {
        font-weight: 700; }
    .section-pricing .pricing-content .top-pricing h5 {
      opacity: 0.8;
      color: #29323c;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 500;
      line-height: 9px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 40px; }
  .section-pricing .pricing-content .bottom-pricing {
    border: 1px solid rgba(0, 0, 0, 0.3); }
    .section-pricing .pricing-content .bottom-pricing button {
      margin-top: 60px;
      margin-bottom: 60px;
      background-color: #485563;
      color: #e8e8e8;
      font-family: 'Montserrat';
      font-size: 13px;
      font-weight: 700;
      line-height: 36px;
      text-transform: uppercase;
      letter-spacing: 0.33px;
      border: 1px solid #485563;
      padding: 7px 50px;
      border-radius: 50px; }
      .section-pricing .pricing-content .bottom-pricing button:hover {
        color: #485563;
        background-color: #fff;
        transition: .5s; }
    .section-pricing .pricing-content .bottom-pricing p {
      padding-top: 60px;
      color: #29323c;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 600;
      line-height: 40px; }

.section-footer {
  background-color: #f5f5f5;
  padding-bottom: 40px; }
  .section-footer .left-side {
    text-align: left; }
    .section-footer .left-side .logos {
      padding-top: 50px; }
  .section-footer .right-side {
    text-align: right;
    padding-top: 10px; }
    .section-footer .right-side i {
      display: inline-block;
      padding-left: 10px;
      font-size: 25px; }
      .section-footer .right-side i:hover {
        cursor: pointer; }
    .section-footer .right-side p {
      display: inline-block;
      padding-top: 40px;
      color: #29323c;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.35px;
      padding-right: 10px; }

@media (max-width: 767px) {
  .section-header {
    padding-bottom: 1000px; }
    .section-header .top-header .logo {
      text-align: center; }
    .section-header .top-header .menu ul {
      padding-left: 0; }
      .section-header .top-header .menu ul li {
        display: block;
        padding-top: 30px; }
        .section-header .top-header .menu ul li a {
          font-size: 18px; }
    .section-header .top-header .main-header h3 {
      padding-top: 80px; }
    .section-header .top-header .main-header img {
      padding-top: 140px; }

  .section-team {
    padding-bottom: 1050px; }
    .section-team .team-header img {
      padding-bottom: 40px; }
    .section-team .team-header h3 {
      padding-top: 10px; }
    .section-team .team-content .team-button button {
      margin-top: 30px; }
    .section-team .team-content .team-photo img {
      width: 75%;
      padding-top: 20px; }
    .section-team .team-content .team-info {
      width: 75%;
      margin: 0 auto; }
      .section-team .team-content .team-info i {
        font-size: 14px;
        padding-right: 3px; }
      .section-team .team-content .team-info p {
        font-size: 12px; }
      .section-team .team-content .team-info h5 {
        font-size: 10px; }

  .section-company {
    padding-top: 20px; }
    .section-company img {
      padding-top: 35px; }

  .section-pricing .pricing-content {
    width: 70%;
    margin: 0 auto; }

  .section-footer .left-side {
    text-align: center; }
    .section-footer .left-side img {
      width: 90%; }
  .section-footer .right-side {
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    text-align: center; }

  .section-team {
    padding-bottom: 1050px; }
    .section-team .team-header img {
      padding-bottom: 60px; }
    .section-team .team-content {
      padding-bottom: 1200px; }
      .section-team .team-content .team-photo img {
        width: 50%;
        padding-top: 20px; }
      .section-team .team-content .team-info {
        width: 50%;
        margin: 0 auto; }

  .section-pricing .pricing-content {
    width: 70%;
    text-align: center;
    margin-left: 120px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .logo {
    text-align: center; } }
@media (max-width: 580px) {
  .section-team .team-content .team-button button {
    margin-top: 100px; } }

/*# sourceMappingURL=style.css.map */
